@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}



/* Authentication */
.body-login {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #0D1317;
}

.logout-button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: backgound-color 0.3s;
}

.login-button {
    background-color: #2f55ff;
    padding: 10px 20px;
    margin-right: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #2b4de4;
}

.logout-button:hover {
    background-color: #2b4de4;
}

.title {
    margin: 0;
    color: #222;
    font-size: 2.5rem;
    font-weight: 700;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.registration-button {
    width: 100%;
    padding: 10px;
    background-color: #2f55ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-button:hover {
    background-color: #2b4de4;
}

.error-message {
    margin-top: 10px;
    font-size: 14px;
    color: #ff4d4d;
}




/* Navigation bar */
nav{
    background-color: white;
    display: flex; 
    align-items: center; 
    height: 70px;
}

.input-container {
    display: flex;
    align-items: center;
}

#search-input {
    width: 300px;
    height: 40px;
    font-family: "Sarabun", sans-serif;
    font-weight: bold;
    padding-left: 10px;

}

#search-input :active {
    border: 1px solid;
}

#cart-icon img {
    width: 25px;
    height: auto;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li{
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    text-decoration: underline transparent;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.15em; 
    transition: color 0.3s, text-decoration-color 0.3s, text-underline-offset 0.3s, text-decoration-thickness 0.3s; 
}

nav a:hover {
    text-decoration-color: black;
    text-underline-offset: 0.4em;
    text-decoration-thickness: 0.2em; 
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; 
    transform: translateX(-70%); 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.4s;
    border-radius: 5px;

}

.dropdown-content a:hover {
    background-color: #2f55ff;
}

.show {
    display: block;
}

.profile {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-right: 15px;
}


@media(max-width: 800px){
.hideOnMobile{
    display: none;
}
.menu-button{
    display: block;
}


}

@media(max-width: 500px){
.sidebar{
    width: 100%;
}

}






/* Inquiries */
.form-container-inquiry{
    border: 2px solid black;
    border-radius: 20px;
}

.content-inquiry {
    padding: 60px;
}

.inquiry {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

.inquiry-submit{
    width: 100%;
    padding: 10px;
    background-color: #2f55ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inquiry-submit:hover {
    background-color: #2b4de4;
    color: white;
}





/* Receipt */
.receipt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}


.receipt-content {
    width: 50%;
    line-height: 40px;
    font-size: 21px;
}


/* About */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-content {
    width: 50%;
    line-height: 40px;
    font-size: 21px;
}



.language-container {
    margin-bottom: 50px;
}





/* Admin */
table {
    border-collapse: collapse;
}

.admin-container {
    margin-left: 30px;
}





/* Homepage */
.book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 600px; 
    margin-left: auto;
    margin-right: auto;
}

.book img {
    width: 100%;
    height: auto;
}

.hero {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .hero {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }


    
}

.hero_text {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
}

.line_home {
    height: 5px;
    width: 400px;
    background-color: black;
    margin: 0;
}

.short_about {
    margin-top: 3%;
    font-size: 30px;
}

.title_hero {
    font-size: 70px;
}
.button_hero {
    font-size: 25px;
    width: 200px;
    height: 45px;
    cursor: pointer;
}


.button_hero button {
    font-size: 25px;
    width: 200px;
    height: 45px;
    color: white;
    background-color: #2f55ff;
    transition: background-color 0.2s;
    cursor: pointer;
}

.button_hero button:hover {
    background-color: #2b4de4;
}

a.button-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.black {
    color: black;
}
